################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build/x86-Release
/CMakeSettings.json
/external/WinDivert/x86/WinDivert64.sys
/x86-Release
